{% extends "base.html" %}
{% load staticfiles %}
{% block contentblock %}
<div style="margin-top:-100px;width:98%;margin-left:1%;" id="forgot-form">
<div class="row">

<div style="height:500px;" class="card col s12">
<h2>FORGOT PASSWORD</h2>
<form name="forgot-password" method="post" class="col s12">
	<div class="row container">
		<div class="input-field col s12">
		<input type="email" name="emailid" class="validate" required autofocus>
		 <label for="email_id">Email Id</label>
		</div>


		<div class="input-field col s12" id="homepage-signup-btn">
		<button class="btn">REQUEST PASSWORD</button>
		</div>


	</div>
	</form>

</div>


</div>
</div><!-- forgot-form -->

{% endblock %}
