{% extends "base.html" %}
{% load staticfiles %}
{% block scorecard %}


<div id="scoreboard">


<div class="row">
<div id="score-cards" style="margin-right:1%;" class="card grey darken-2 white-text col s12">
<div>

<h2>CRICOMP SCORE UPDATES</h2>


<!-- loop from here -->
<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">India vs Aus</span>
              <p>India: 200/0</p>
            </div>
            <div class="card-action  teal darken-1">
              <a href="#"><span class="white-text">scorecard</span></a>
              <a href="#"><span class="white-text">commentry</span></a>
            </div>
          </div>
<br>
</div>
<!-- end of loop -->

<!-- delete this -->
<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">SA vs ZIM</span>
              <p>SA:100/4</p>
            </div>
            <div class="card-action  teal darken-1">
              <a href="#"><span class="white-text">scorecard</span></a>
              <a href="#"><span class="white-text">commentry</span></a>
            </div>
          </div>



<br>
</div>
<!-- delete this -->


<a href="#">
<div id="predict-to-win"  class="card col">
<h2>
Predict And Win! <span class="white-text material-icons">redeem</span>
</h2>
</div>
</a>


</div><!-- score-cards -->
</div>
</div>

</div><!-- nav -->




{% endblock %}


{% block contentblock %}
<div style="width:98%;margin-left: 1%;" id="main-content-body">
<div class="row">
<div class="card col s8">
<div class="card col s12">
<h2>GROUNDS</h2>
<a href="#">Click here for more >></a>
</div>



<div class="card col s12">
<h2>TEAM PROFILE</h2>
<a href="#">Click here for more >></a>
</div>

<div class="card col s12">
<div class="col s6">
<h2>BLOGS</h2>
<a href="#">Click here for more >></a>
</div>


<div class="col s6">
<h2>TWEETS</h2>
</div>

</div>


</div>

<div class="card col s4">
<div style="min-height:700px;" class="card col s11">
<h2>NEWS</h2>
<a href="#">Click here for more >></a>
</div>



</div>

</div>

</div>



{% endblock %}

