{% extends "base.html" %}
{% block scorecards%}
<div class="row">
<div id="score-cards" style="margin-right:1%;" class="card grey darken-2 white-text col s12">
<div>

<h2>CRICOMP SCORE UPDATES</h2>

<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">India vs Aus</span>
              <p>India: 100/0</p>
              <p>Aus: Yet to bat</p>
            </div>
            <div class="card-action  teal darken-1">
              <a class="white-text" href="#">Scoreboard</a>
            </div>
          </div>



<br>
</div>

<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">India vs Aus</span>
              <p>India: 100/0</p>
              <p>Aus: Yet to bat</p>
            </div>
            <div class="card-action  teal darken-1">
              <a class="white-text" href="#">Scoreboard</a>
            </div>
          </div>



<br>
</div>

<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">India vs Aus</span>
              <p>India: 100/0</p>
              <p>Aus: Yet to bat</p>
            </div>
            <div class="card-action  teal darken-1">
              <a class="white-text" href="#">Scoreboard</a>
            </div>
          </div>



<br>
</div>

<div class="col s3">
<div class="green z-depth-5 darken-2 ">
            <div class="card-content white-text">
              <span class="card-title">India vs Aus</span>
              <p>India: 100/0</p>
              <p>Aus: Yet to bat</p>
            </div>
            <div class="card-action  teal darken-1">
              <a class="white-text" href="#">Scoreboard</a>
            </div>
          </div>



<br>
</div>

<a href="#">
<div id="predict-to-win"  class="card col">
<h2><img class="trophy-svg" src="images/trophy.svg">Predict And Win!<img class="trophy-svg" src="images/trophy.svg"></h2>
</div>
</a>


</div><!-- score-cards -->
</div>
</div>
{% endblock %}

{% block contentbody %}


<div id="main-content-body" class="row">



<div class="card col s11">
<h2>NEWS</h2>
<a href="#">Click here for more >></a>
</div>



<div style="margin-right:1%;" class="card col s7">
<h2>GROUNDS</h2>
<a href="#">Click here for more >></a>
</div>

<div style="margin-right:1%;" class="card col s4">
<h2>BLOGS</h2>
<a href="#">Click here for more >></a>
</div>


<div style="margin-right:1%;" class="card col s7">
<h2>TEAM PROFILE</h2>
<a href="#">Click here for more >></a>
</div>

<div class="card col s4">
<h2>TWEETS</h2>
<a href="#">Click here for more >></a>
</div>


</div>


{% endblock %}
