{% extends "base.html" %}

{% block contentblock %}
<div style="margin-top:-100px;width:98%;margin-left:1%;" id="signup-form">
<div class="row">
<div style="height:500px;" id="signup-image" class="card col s6">
<br><br><br><br><br><br>
<h2>SIGNUP NOW ITS FREE!</h2>
</div>
<div style="height:500px;" class="card col s6">
<h2>SIGNUP</h2>
<form name="signup-homepage-form" method="post" class="col s12">
	<div class="row container">
		<div class="input-field col s12">
		<input type="email" name="emailid" class="validate" required autofocus>
		 <label for="email_id">Email Id</label>
		</div>

		<div class="input-field col s12">
		<input type="password" name="password" required>
		 <label for="password">Password</label>
		</div>

		<div class="input-field col s12">
		<input type="password" name="re-password" required>
		 <label for="password">Re-Password</label>
		</div>


		<div class="input-field col s12">
		<input type="number" name="age" required>
		<label for="age">Age</label>
		</div>

		<div class="input-field col s12" id="homepage-signup-btn">
		<button class="btn">SIGNUP</button>
		</div>

		<div class="input-field col s12">
		<p>All fields are mandatory.</p>
		</div>


	</div>
	</form>

</div>


</div>
</div><!-- signup-form -->
{% endblock %}
